template(name="fam")
  +HeaderFooterLayout size='[100,100]' headerSize='64' footerSize='50'
    +Surface target='header'
      h3 header
    +Surface size='[100,100]' target='content'
      <textarea name="" id="" cols="30" rows="3">some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dignissimos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, ipsam.</textarea>
    +TextareaSurface size='[undefined,50]' target='footer'
      | s

